body {
    background-color: #757d7e;
}

.brand-logo {
    margin-left: 10px;
}

.content-wrapper {
    margin-top: 25px;
}

.input-field {
    border-radius: 4px;
}

.form-btn {
    border-radius: 4px;
}