<!-- dropdown / select for subcategories -->

<i class="fa-solid fa-folder-tree prefix" aria-hidden="true"></i>
<select id="sub_category" name="sub_category" class="validate" required aria-label="Subcategory">
    <option value="" disabled selected>Select a subcategory</option>
    {% for subcategory in subcategories %}
    <option value="{{ subcategory.id }}">{{ subcategory.sub_category_name }}</option>
    {% endfor %}
</select>
<label for="sub_category"><span class="sr-only">Subcategory</span></label>
