{% extends "base.html" %}
{% block content %}

<h3 class="white-text center-align" role="heading" aria-level="3">Add Subcategory</h3>

<div class="row card-panel teal lighten-3 content-wrapper">
    <form class="col s12" method="POST" action="{{ url_for('add_sub_category') }}" aria-labelledby="form-title">
        <!-- subcategory name input -->
        <div class="row">
            <div class="input-field col s10 offset-s1 grey lighten-4">
                <i class="fa-solid fa-folder-tree prefix" aria-hidden="true"></i>
                <input id="sub_category_name" name="sub_category_name" minlength="3" maxlength="50"
                    pattern="^(?!\s*$)[a-zA-Z0-9\s]+$" type="text" class="validate" aria-required="true" required
                    aria-describedby="sub-category-description">
                <label class="black-text" for="sub_category_name">Subcategory Name</label>
                <span id="sub-category-description" class="sr-only">
                    Subcategory name must be between 3 and 50 characters long and only contain letters, numbers, and spaces.
                </span>
            </div>
        </div>
        
        <!-- main category select using _dropdown_main -->
        <div class="row">
            <div class="input-field col s10 offset-s1 grey lighten-4">
                {% include '_dropdown_main.html' %}
            </div>
        </div>
        
        <!-- submit button -->
        <div class="row">
            <div class="col s10 offset-s1 center-align">
                <button type="submit" class="btn-large edit-button white-text form-btn" aria-label="Add Subcategory">
                    Add Subcategory <i class="fa-solid fa-folder-plus right" aria-hidden="true"></i>
                </button>
                <p>
                    <a href="{{ url_for('home') }}" class="delete-small" 
                        aria-label="Cancel and return to home page">
                        Cancel
                    </a>
                </p>
            </div>
        </div>
    </form>
</div>

{% endblock %}
