{% extends "base.html" %}
{% set active_page = "add_tool" %}
{% block content %}

<h3 class="white-text center-align" role="heading" aria-level="3">Step 2: Choose Main Category</h3>

<div class="row card-panel teal lighten-3 content-wrapper">
    <form class="col s12 add-tool-form" method="POST" action="{{ url_for('add_tool') }}" aria-labelledby="form-title">
        <input type="hidden" name="step" value="2">
        
        <!-- main category dropdown -->
        <div class="row">
            <div class="input-field col s10 offset-s1 grey lighten-4">
                {% include '_dropdown_main.html' %}
                <span id="main-category-description" class="sr-only">Select a main category from the dropdown menu to categorize your tool.</span>
            </div>
        </div>
        
        <!-- submit button -->
        <div class="row">
            <div class="col s10 offset-s1 center-align">
                <button type="submit" class="btn-large edit-button white-text form-btn" aria-label="Proceed to the next step">
                    Next <i class="fa-solid fa-arrow-right right" aria-hidden="true"></i>
                </button>
                <p>Main Category not found?
                    <br>
                    <a href="{{ url_for('add_main_category') }}" class="delete-small"
                        aria-label="Cancel and redirect to add main category page">
                        Cancel
                    </a> and add Main Category.
                </p>
            </div>
        </div>
    </form>
</div>

{% endblock %}
