<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/6cbc018174.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <link rel="icon" type="image/x-icon" href="../../favicon.ico">
    <title>The Woodworker's Tool DB</title>
</head>

<body>


    <!-- simple navbar - will add mobile collapse elements -->
    <nav>
        <div class="nav-wrapper teal lighten-3 nav-font">
            <a href="{{ url_for('home') }}" class="brand-logo logo-small">The Woodworker's Tool Database</a>
            <a href="#" data-target="nav-collapse" class="sidenav-trigger right"><i class="fa-solid fa-bars"></i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('categories') }}">Categories</a></li>
                <li><a href="{{ url_for('glossary') }}">Glossary</a></li>
                {% if "username" in session %}
                {% if session.get("role") == "admin" %}
                <li><a href="{{ url_for('add_category') }}">Add Category</a></li>
                <li><a href="{{ url_for('add_tool') }}">Add Tool</a></li>
                <li><a href="{{ url_for('manage_users')}}">Manage Users</a></li>
                {% endif %}
                {% if session.get("role") != "admin" %}
                <li><a href="{{ url_for('my_toolbox') }}">My Toolbox</a></li>
                <li><a href="{{ url_for('profile') }}">Profile</a></li>
                {% endif %}
                <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                {% else %}
                <li><a href="{{ url_for('login') }}">Log In</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    
    <!-- mobile collapsible sidenav -->
    <ul class="sidenav" id="nav-collapse">
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('categories') }}">Categories</a></li>
        <li><a href="{{ url_for('glossary') }}">Glossary</a></li>
        {% if "username" in session %}
        {% if session.get("role") == "admin" %}
        <li><a href="{{ url_for('add_category') }}">Add Category</a></li>
        <li><a href="{{ url_for('add_tool') }}">Add Tool</a></li>
        <li><a href="{{ url_for('manage_users')}}">Manage Users</a></li>
        {% endif %}
        {% if session.get("role") != "admin" %}
        <li><a href="{{ url_for('my_toolbox') }}">My Toolbox</a></li>
        <li><a href="{{ url_for('profile') }}">Profile</a></li>
        {% endif %}
        <li><a href="{{ url_for('logout') }}">Log Out</a></li>
        {% else %}
        <li><a href="{{ url_for('login') }}">Log In</a></li>
        {% endif %}
    </ul>

    <section>
        <!-- flash messages -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="row flashes">
            <h4 class="red lighten-3 center-align">{{ message }}</h4>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </section>

    <!-- all below content generated in templates -->
    <main>
        {% block content%}
        {%  endblock %}
    </main>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
</body>

</html>