<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/6cbc018174.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>The Woodworker's Tool DB</title>
</head>

<body class="{% block body_class %}base{% endblock %}">


    <!-- simple navbar - will add mobile collapse elements -->
    <nav aria-label="Main Navigation">
        <div class="nav-wrapper teal lighten-3 nav-font">
            <a href="{{ url_for('home') }}" id="page-logo" class="brand-logo" 
                style="{% if session.get('role') == 'admin' %}display: none;{% endif %}">
             The Woodworker's Tool Database
            </a>
            <a href="#" data-target="nav-collapse" class="sidenav-trigger left" aria-label="Open Navigation Menu"><i class="fa-solid fa-bars"></i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down" role="menubar">
                <li><a href="{{ url_for('home') }}" role="menuitem">Home</a></li>
                <li><a href="{{ url_for('categories') }}" role="menuitem">Categories</a></li>
                <li><a href="{{ url_for('glossary') }}" role="menuitem">Glossary</a></li>
                {% if "username" in session %}
                <li><a href="{{ url_for('my_toolbox') }}" role="menuitem">My Toolbox</a></li>
                <li><a href="{{ url_for('profile') }}" role="menuitem">Profile</a></li>
                    {% if session.get("role") == "admin" %}
                    <li><a href="{{ url_for('add_category') }}" role="menuitem">Add Category</a></li>
                    <li><a href="{{ url_for('add_tool') }}" role="menuitem">Add Tool</a></li>
                    <li><a href="{{ url_for('manage_users')}}" role="menuitem">Manage Users</a></li>
                    {% endif %}
                <li><a href="{{ url_for('logout') }}" role="menuitem">Log Out</a></li>
                {% else %}
                <li><a href="{{ url_for('login') }}" role="menuitem">Log In</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    
    <!-- mobile collapsible sidenav -->
    <ul class="sidenav" id="nav-collapse">
        <li class="center-align">The Woodworker's Tool Database</li>
        <li><a href="{{ url_for('home') }}" aria-label="Go to Home page">Home</a></li>
        <li><a href="{{ url_for('categories') }}" aria-label="View Categories">Categories</a></li>
        <li><a href="{{ url_for('glossary') }}" aria-label="Access Glossary">Glossary</a></li>
        {% if "username" in session %}
        <li><a href="{{ url_for('my_toolbox') }}" aria-label="Go to My Toolbox">My Toolbox</a></li>
        <li><a href="{{ url_for('profile') }}" aria-label="View Profile">Profile</a></li>
            {% if session.get("role") == "admin" %}
            <li><a href="{{ url_for('add_category') }}" aria-label="Add a New Category">Add Category</a></li>
            <li><a href="{{ url_for('add_tool') }}" aria-label="Add a New Tool">Add Tool</a></li>
            <li><a href="{{ url_for('manage_users')}}" aria-label="Manage Users">Manage Users</a></li>
            {% endif %}
        <li><a href="{{ url_for('logout') }}" aria-label="Log Out">Log Out</a></li>
        {% else %}
        <li><a href="{{ url_for('login') }}" aria-label="Log In">Log In</a></li>
        {% endif %}
    </ul>

    <section>
        <!-- flash messages -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="row flashes" role="alert" aria-live="polite">
            <h4 class="red lighten-3 center-align">{{ message }}</h4>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </section>

    <!-- all below content generated in templates -->
    <main>
        {% block content%}
        {%  endblock %}
    </main>

    <footer class="page-footer teal lighten-3 nav-font" aria-label="Footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="black-text">Contact</h5>
                    <p class="black-text">
                        If you have any suggestions, improvements, corrections, feedback or want to contribute, 
                        please contact: tooldb.admin@proton.me
                    </p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="black-text">Links</h5>
                    <ul>
                        <li><a href="{{ url_for('home') }}" aria-label="Go to Home page">Home</a></li>
                        <li><a href="{{ url_for('categories') }}" aria-label="View Categories">Categories</a></li>
                        <li><a href="{{ url_for('glossary') }}" aria-label="Access Glossary">Glossary</a></li>
                        {% if "username" in session %}
                        <li><a href="{{ url_for('my_toolbox') }}" aria-label="Go to My Toolbox">My Toolbox</a></li>
                        <li><a href="{{ url_for('profile') }}" aria-label="View Profile">Profile</a></li>
                            {% if session.get("role") == "admin" %}
                            <li><a href="{{ url_for('add_category') }}" aria-label="Add a New Category">Add Category</a></li>
                            <li><a href="{{ url_for('add_tool') }}" aria-label="Add a New Tool">Add Tool</a></li>
                            <li><a href="{{ url_for('manage_users') }}" aria-label="Manage Users">Manage Users</a></li>
                            {% endif %}
                        <li><a href="{{ url_for('logout') }}" aria-label="Log Out">Log Out</a></li>
                        {% else %}
                        <li><a href="{{ url_for('login') }}" aria-label="Log In">Log In</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright center">
            <div class="container black-text">
                <p>© 2024 Tool DB</p>
            </div>
        </div>
    </footer>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
    </body>
    
    </html>