{% extends "base.html" %}

{% block content %}

    <h3 class="white-text center-align">{{ category_name|replace('_', ' ')|title }}</h3>

    <div class="row content-wrapper">
        {% for sub_category in SubCategories %}
            <div class="col s12 m6 l4">
                <div class="card teal lighten-3">
                    <div class="card-content white-text">
                        <span class="card-title">{{ sub_category.sub_category_name }}</span>
                    </div>
                    <div class="card-action">
                        <a href="{{ url_for('sub_category_page', sub_category_name=sub_category.sub_category_name|lower|replace(' ', '_')) }}" class="brown-text darken-4">
                            Go to {{ sub_category.sub_category_name }}
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}