<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/6cbc018174.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>The Woodworker's Tool DB Credits</title>
</head>

<main>
    <heading>
        <h3 class="white-text center-align" role="heading" aria-level="3">Credits and Sources</h3>
    </heading>
    <div class="row content-wrapper">
        <div class="col s12 m8 offset-m2 white">
            <ul>
                <li>
                    <p>
                        Descriptions for: Benchtop Table Saw, Cabinet Saw, Compact Table Saw,
                        Contractor Table Saw, Hybrid Table Saw, Jobsite Table Saw,
                        Mini and Micro Table Saws & Sliding Table Saw - “Table saw,” Wikipedia,
                        <a href="https://en.wikipedia.org/wiki/Table_saw" target="_blank">
                            https://en.wikipedia.org/wiki/Table_saw
                        </a>, accessed 08 September 2024, available under the Creative Commons Attribution-ShareAlike
                        3.0 license (CC BY-SA 3.0).
                    </p>
                </li>
                <li>
                    <p>
                        Description for: Block Plane - “Block plane,” Wikipedia,
                        <a href="https://en.wikipedia.org/wiki/Block_plane" target="_blank">
                            https://en.wikipedia.org/wiki/Block_plane
                        </a>, accessed 08 September 2024, available under the Creative Commons Attribution-ShareAlike
                        3.0 license (CC BY-SA 3.0).
                    </p>
                </li>
                <li>
                    <p>
                        Description for: Circular Saw - “Circular saw,” Wikipedia,
                        <a href="https://en.wikipedia.org/wiki/Circular_saw" target="_blank">
                            https://en.wikipedia.org/wiki/Circular_saw
                        </a>, accessed 08 September 2024, available under the Creative Commons Attribution-ShareAlike
                        3.0 license (CC BY-SA 3.0).
                    </p>
                </li>
                <li>
                    <p>
                        Description for: Honing Guide was adapted from - “Sharpening jig,” Wikipedia,
                        <a href="https://en.wikipedia.org/wiki/Sharpening_jig" target="_blank">
                            https://en.wikipedia.org/wiki/Sharpening_jig
                        </a>, accessed 08 September 2024, available under the Creative Commons Attribution-ShareAlike
                        3.0 license (CC BY-SA 3.0).
                    </p>
                </li>
                <li>
                    <p>
                        Description for: Jigsaw - “Jigsaw (tool),” Wikipedia,
                        <a href="https://en.wikipedia.org/wiki/Jigsaw_(tool)" target="_blank">
                            https://en.wikipedia.org/wiki/Jigsaw_(tool)
                        </a>, accessed 08 September 2024, available under the Creative Commons Attribution-ShareAlike
                        3.0 license (CC BY-SA 3.0).
                    </p>
                </li>
                <li>
                    <p>
                        Description for: Jointer - “Jointer,” Wikipedia,
                        <a href="https://en.wikipedia.org/wiki/Jointer" target="_blank">
                            https://en.wikipedia.org/wiki/Jointer
                        </a>, accessed 08 September 2024, available under the Creative Commons Attribution-ShareAlike
                        3.0 license (CC BY-SA 3.0).
                    </p>
                </li>
                <li>
                    <p>
                        Description for: Mitre Saw - “Miter saw,” Wikipedia,
                        <a href="https://en.wikipedia.org/wiki/Miter_saw" target="_blank">
                            https://en.wikipedia.org/wiki/Miter_saw
                        </a>, accessed 08 September 2024, available under the Creative Commons Attribution-ShareAlike
                        3.0 license (CC BY-SA 3.0).
                    </p>
                </li>
                <li>
                    <p>
                        Description for: Mortice Chisels - This page,
                        <a href="https://www.findmytool.co.uk/encyclopedia/what-is-a-mortice-chisel.php#gsc.tab=0" target="_blank">
                            https://www.findmytool.co.uk/encyclopedia/what-is-a-mortice-chisel.php#gsc.tab=0
                        </a>
                    </p>
                </li>
                <li>
                    <p>
                        Description for: Paring Chisels - This page,
                        <a href="https://toolsforworkingwood.com/store/more/chiselguide.html" target="_blank">
                            https://toolsforworkingwood.com/store/more/chiselguide.html
                        </a>
                    </p>
                </li>
                <li>
                    <p>
                        Description for: Radial Arm Saw - “Radial arm saw,” Wikipedia,
                        <a href="https://en.wikipedia.org/wiki/Radial_arm_saw" target="_blank">
                            https://en.wikipedia.org/wiki/Radial_arm_saw
                        </a>, accessed 08 September 2024, available under the Creative Commons Attribution-ShareAlike
                        3.0 license (CC BY-SA 3.0).
                    </p>
                </li>
                <li>
                    <p>
                        Description for: Rebate Plane - “Rebate plane,” Wikipedia,
                        <a href="https://en.wikipedia.org/wiki/Rebate_plane" target="_blank">
                            https://en.wikipedia.org/wiki/Rebate_plane
                        </a>, accessed 08 September 2024, available under the Creative Commons Attribution-ShareAlike
                        3.0 license (CC BY-SA 3.0).
                    </p>
                </li>
                <li>
                    <p>
                        Description for: Shoulder Plane - “Shoulder plane,” Wikipedia,
                        <a href="https://en.wikipedia.org/wiki/Shoulder_plane" target="_blank">
                            https://en.wikipedia.org/wiki/Shoulder_plane
                        </a>, accessed 08 September 2024, available under the Creative Commons Attribution-ShareAlike
                        3.0 license (CC BY-SA 3.0).
                    </p>
                </li>
                <li>
                    <p>
                        Description for: Skew Chisels - This page,
                        <a href="https://www.fine-tools.com/schraegbeitel.html#:~:text=Skew%20chisels%20are%20used%20for,turning%20chisels%20you%20find%20here." target="_blank">
                            https://www.fine-tools.com/schraegbeitel.html#:~:text=Skew%20chisels%20are%20used%20for,turning%20chisels%20you%20find%20here.
                        </a>
                    </p>
                </li>
                <li>
                    <p>
                        Description for: Thickness Planer - “Thickness planer,” Wikipedia,
                        <a href="https://en.wikipedia.org/wiki/Thickness_planer" target="_blank">
                            https://en.wikipedia.org/wiki/Thickness_planer
                        </a>, accessed 08 September 2024, available under the Creative Commons Attribution-ShareAlike
                        3.0 license (CC BY-SA 3.0).
                    </p>
                </li>
                <li>
                    <p>
                        Description for: Trim Router - 
                        Google AI overview result when searching "Trim router definition".
                    </p>
                </li>
            </ul>
        </div>
    </div>
</main>

<body class="{% block body_class %}base{% endblock %}">
    <footer class="page-footer teal lighten-3 nav-font" aria-label="Footer">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h5 class="black-text">Contact</h5>
                    <p class="black-text">
                        If you have any suggestions, improvements, corrections, feedback or want to contribute, 
                        please contact: tooldb.admin@proton.me
                    </p>
                </div>
            </div>
        </div>
        <div class="footer-copyright center">
            <div class="container black-text">
                <p>© 2024 Tool DB</p>
            </div>
        </div>
    </footer>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
</body>
    
</html>