{% extends "base.html" %}
{% block content %}

    <div class="row card-panel teal lighten-3">
        <form id="edit_password_form" class="col s12 add-tool-form" method="POST" action="{{ url_for('edit_password') }}">
            <!-- Edit password -->
            <div class="row">
                <div class="input-field col s10 offset-s1 grey lighten-4">
                    <i class="fa-solid fa-lock prefix"></i>
                    <input id="edit_password" name="edit_password" minlength="5" maxlength="25"
                        pattern="^(?!\s*$)[a-zA-Z0-9\s]+$" type="password" class="validate" required>
                    <label for="edit_password">Password</label>
                </div>
            </div>
            <!-- confirm new password -->
            <div class="row">
                <div class="input-field col s10 offset-s1 grey lighten-4">
                    <i class="fa-solid fa-lock prefix"></i>
                    <input id="edit_password_confirm" name="edit_password_confirm" minlength="5" maxlength="25" 
                        pattern="^(?!\s*$)[a-zA-Z0-9\s]+$"type="password">
                    <label for="edit_password_confirm">Confirm Password</label>
                </div>
            </div>
            <div class="row">
                <div class="col s10 offset-s1 center-align">
                    <button type="submit" class="btn-large grey lighten-4 black-text form-btn">
                        Update <i class="fa-solid fa-check right"></i>
                    </button>
                    <a href="{{ url_for('profile') }}" class="delete-small">Cancel</a>
                </div>
            </div>
        </form>
    </div>

{% endblock %}