{% extends "base.html" %}
{% block content %}

<h3 class="white-text center-align" role="heading" aria-level="3">Edit Main Category</h3>

<!-- Simple page with one editable input field -->

<div class="row card-panel teal lighten-3 content-wrapper">
    <form class="col s12" method="POST" action="{{ url_for('edit_main_category', category_id=category.id) }}">
        <!-- name input -->
        <div class="row">
            <div class="input-field col s10 offset-s1 grey lighten-4">
                <i class="fa-solid fa-folder-open prefix" aria-hidden="true"></i>
                <input id="main_category_name" name="main_category_name" minlength="3" maxlength="50"
                    value="{{ category.main_category_name }}" pattern="^(?!\s*$)[a-zA-Z0-9\s]+$" type="text"
                    class="validate" required>
                <label class="black-text" for="main_category_name">Category Name</label>
            </div>
        </div>
        <!-- submit button -->
        <div class="row">
            <div class="col s10 offset-s1 center-align">
                <button type="submit" class="btn-large edit-button form-btn">
                    Save Changes <i class="fa-solid fa-folder-plus right" aria-hidden="true"></i>
                </button>
                <p>Changed your mind?
                    <br>
                    <a href="{{ url_for('categories') }}" class="delete-small"
                        aria-label="Cancel and redirect to categories page">
                        Cancel
                    </a> and return to Categories page.
                </p>
            </div>
        </div>
    </form>
</div>

{% endblock %}
