{% extends "base.html" %}
{% block content %}

<h3 class="white-text center-align">Choose Main Category</h3>

<div class="row card-panel teal lighten-3">
    <form class="col s12 edit-tool-form" method="POST" action="{{ url_for('edit_tool', tool_id=tool.id) }}">
        <input type="hidden" name="step" value="2">

        <!-- Main Category Dropdown -->
        <div class="row">
            <div class="input-field col s10 offset-s1 grey lighten-4">
                <select id="main_category_{{ tool.id }}" name="main_category" required>
                    <option value="" disabled selected>Choose main category</option>
                    {% for category in main_categories %}
                        <option value="{{ category.id }}" {% if tool.main_category_id == category.id %}selected{% endif %}>{{ category.name }}</option>
                    {% endfor %}
                </select>
                <label for="main_category_{{ tool.id }}">Main Category</label>
            </div>
        </div>

        <!-- Next Button -->
        <div class="row">
            <div class="col s10 offset-s1 center-align">
                <button type="submit" class="btn-large grey lighten-4 black-text form-btn">
                    Next <i class="fa-solid fa-arrow-right right"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}
