{% extends "base.html" %}
{% block content %}

<div class="row card-panel teal lighten-3">
    <form id="edit_username_form" class="col s12 add-tool-form" method="POST" action="{{ url_for('edit_username') }}">
        <!-- Edit username -->
        <div class="row">
            <div class="input-field col s10 offset-s1 grey lighten-4 center-align">
                <i class="fa-solid fa-user prefix"></i>
                <input id="edit_username" name="edit_username" minlength="5" maxlength="25"
                    pattern="^(?!\s*$)[a-zA-Z0-9\s]+$" type="text" class="validate" value="{{ user.username }}"
                    required>
                <label for="edit_username">Username</label>
            </div>
        </div>
        <div class="row">
            <div class="col s10 offset-s1 center-align">
                <button type="submit" class="btn-large grey lighten-4 black-text form-btn">
                    Update <i class="fa-solid fa-check right"></i>
                </button>
                <a href="{{ url_for('profile') }}" class="delete-small">Cancel</a>
            </div>
        </div>
    </form>
</div>

{% endblock %}