{% extends "base.html" %}
{% set active_page = "glossary" %}
{% block content %}

<h3 class="white-text center-align">Tool Glossary</h3>

<!-- 
    A simple A-Z of tools in the database 
-->
<div class="row content-wrapper">
    <div class="col s12 m8 offset-m2 white">
        {% if grouped_tools %}
            {% for letter, tools in grouped_tools %}
                <h4 class="teal-text darken-3" aria-level="2">{{ letter }}</h4>
                <ul class="collection" role="list">
                    {% for tool in tools %}
                        <li class="collection-item" role="listitem">
                            <a href="{{ url_for('tool', tool_id=tool.id) }}" class="glossary-tool" aria-label="View details for {{ tool.tool_name }}">
                                <p>{{ tool.tool_name }}</p>
                            </a>
                            <details>
                                <summary id="glossary-summary-{{ tool.id }}" class="summary-small" aria-expanded="false" aria-controls="glossary-description-{{ tool.id }}">Description</summary>
                                <p id="glossary-description-{{ tool.id }}">{{ tool.tool_description }}</p>
                            </details>
                            {% if session.get("role") == "admin" %}
                            <span>
                                <a href="{{ url_for('edit_tool', tool_id=tool.id)}}" class="edit-small" aria-label="Edit {{ tool.tool_name }}"><small>Edit</small></a>
                            </span>
                            {% endif %}
                            {% if "username" in session and session.get("role") != "admin" %}
                            <form action="{{ url_for('add_to_my_toolbox', tool_id=tool.id) }}" method="post">
                                <button type="submit" class="edit-small borderless-btn" aria-label="Add {{ tool.tool_name }} to My Toolbox">
                                    <i class="fa-solid fa-toolbox" aria-hidden="true"></i>
                                    <small class="small-icon-text">Add to My Toolbox</small>
                                </button>
                            </form>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endfor %}
        {% else %}
            <p class="white center-align">No tools found.</p>
        {% endif %}
    </div>
</div>

{% endblock %}
