{% extends "base.html" %}
{% block content %}

<!-- 
This is a placeholder until I dynamically generate a random tool carousel
 -->

<div class="row content-wrapper">
    {% for tool in tools %}
        <div class="col s12 m3">
            <div class="card large">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{ url_for('static', filename='images/' + tool.tool_name.lower().replace(' ', '_') + '.jpg') }}" alt="{{ tool.tool_name }}">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">{{ tool.tool_name }}<i class="fa-solid fa-plus right"></i></span>
                    <br>
                    <p><a href="{{ url_for('tool', tool_id=tool.id) }}" class="deep-orange-text text-lighten-1">{{ tool.tool_name }} page</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{ tool.tool_name }}<i class="fa-solid fa-minus right"></i></span>
                    <p>{{ tool.tool_description }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}