{% extends "base.html" %}
{% block content %}

<h3 class="white-text center-align">Manage Users</h3>
<div class="row">
    <div class="col s8 offset-s2 teal lighten-3 add-tool-form content-wrapper center-align">
        <h5 class="white-text center">Users</h5>
            <div class="row" role="list" aria-labelledby="user-list-heading">
                {% for user in users %}
                <div class="container col s10 offset-s1 m6 l4 grey lighten-4 tiny-tool-card" role="listitem" aria-labelledby="user-username-{{ user.id }}">
                    <p id="user-username-{{ user.id }}" class="center teal-text darken-3">{{ user.username }}</p>
                    <div id="tiny-btn-container" class="col s12 center">
                        <a href="#delete-user-modal-{{ user.id }}" 
                            class="delete-small center modal-trigger" aria-label="Delete user {{ user.username }}">
                            <small>Delete</small>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
    </div>
</div>

{% for user in users %}
<!-- Delete user modal -->
<div id="delete-user-modal-{{ user.id }}" class="modal" role="dialog" aria-labelledby="delete-user-modal-heading-{{ user.id }}" aria-describedby="delete-user-modal-description-{{ user.id }}">
    <div class="modal-content">
        <h4 id="delete-user-modal-heading-{{ user.id }}">Are you sure you want to delete this user?</h4>
        <p id="delete-user-modal-description-{{ user.id }}">This action cannot be undone!</p>
    </div>
    <div class="modal-footer">
        <form method="POST" action="{{ url_for('delete_user', user_id=user.id) }}">
            <button type="submit" class="btn delete-button" aria-label="Confirm delete user {{ user.username }}">
                Delete
            </button>
            <a href="#!" class="modal-close btn edit-button" aria-label="Cancel deletion">
                Cancel
            </a>
        </form>
    </div>
</div>
{% endfor %}

{% endblock %}
