{% extends "base.html" %}

{% block content %}
<h3 class="center-align white-text">My Toolbox</h3>

{% if tools %}
<div class="container content-wrapper white">
    <table class="responsive-table">
        <thead>
            <tr>
                <th>Tool Name</th>
                <th>Tool Videos</th>
                <th>Tool Links</th>
            </tr>
        </thead>
        <tbody>
            {% for tool in tools %}
            <tr>
                <td>{{ tool.tool_name }}</td>
                <td>
                    {% if tool.tool_videos %}
                        {% for video in tool.tool_videos %}
                            <a href="{{ video }}" target="_blank">Video {{ loop.index }}</a><br>
                        {% endfor %}
                    {% else %}
                        No videos available
                    {% endif %}
                </td>
                <td>
                    {% if tool.tool_links %}
                        {% for link in tool.tool_links %}
                            <a href="{{ link }}" target="_blank">Buy Here</a><br>
                        {% endfor %}
                    {% else %}
                        No links available
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div class="content-wrapper white">
    <p class="center">Your toolbox is empty. Start adding tools!</p>
</div>
{% endif %}

{% endblock %}
