{% extends "base.html" %}
{% set active_page = "my_toolbox" %}

{% block content %}
<h3 class="center-align white-text" aria-label="heading" aria-level="3">My Toolbox</h3>

{% if tools %}
<div class="container content-wrapper white">
    <table class="highlight responsive-table" aria-label="Toolbox Table">
        <thead>
            <tr>
                <th scope="col">Tool Name</th>
                <th scope="col">Tool Videos</th>
                <th scope="col">Tool Links</th>
                <th scope="col">Remove From Toolbox</th>
            </tr>
        </thead>
        <tbody>
            {% for tool in tools %}
            <tr>
                <td>
                    <a href="{{ url_for('tool', tool_id=tool.id) }}" aria-label="Page for {{ tool.tool_name }}">
                        {{ tool.tool_name }} 
                    </a>
                </td>
                <td>
                    {% if tool.tool_videos %}
                        {% for video in tool.tool_videos %}
                            <a href="{{ video }}" target="_blank" aria-label="Video {{ loop.index }} for {{ tool.tool_name }}">Video {{ loop.index }}</a><br>
                        {% endfor %}
                    {% else %}
                        <span>No videos available</span>
                    {% endif %}
                </td>
                <td>
                    {% if tool.tool_links %}
                        {% for link in tool.tool_links %}
                            <a href="{{ link }}" target="_blank" aria-label="Buy {{ tool.tool_name }} here">Buy Here</a><br>
                        {% endfor %}
                    {% else %}
                        <span>No links available</span>
                    {% endif %}
                </td>
                <td>
                    <form action="{{ url_for('delete_from_my_toolbox', tool_id=tool.id) }}" method="post" aria-label="Remove {{ tool.tool_name }} from toolbox">
                        <button type="submit" class="remove-btn form-btn">
                            <span>Remove</span>
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div class="content-wrapper white">
    <p class="center">Your toolbox is empty. Start adding tools!</p>
</div>
{% endif %}

{% endblock %}
