{% extends "base.html" %}
{% block content %}

<h3 class="center-align white-text">My Toolbox</h3>

<ul class="collection with-header">
    <li class="collection-header">
        <h4>Saved Tools</h4>
    </li>

    <li class="collection-item">
        <div>Tool Name
            <a href="#!" class="secondary-content toolbox-link">Buy here</a>
            <a href="#!" class="secondary-content toolbox-link">Buy here</a>
            <a href="#!" class="secondary-content toolbox-link">Buy here</a>
        </div>
    </li>

</ul>

{% endblock %}