{% extends "base.html" %}
{% block content %}

<h3 class="white-text center-align" id="profile-username">Profile</h3>

<div class="row card-panel teal lighten-3">
    <div class="container col s12 m6 offset-m3 l4 offset-l4 grey lighten-4 center-align">
        <!-- Change Username -->
        <p id="profile-text">Username: <span class="strong" aria-live="polite">{{ user.username }}</span></p>
        <a href="{{ url_for('edit_username') }}" class="btn edit-button profile-button" role="button" aria-label="Change Username">Change Username</a>
        <!-- Change Password -->
        <a href="{{ url_for('edit_password') }}" class="btn edit-button profile-button" role="button" aria-label="Change Password">Change Password</a>
    </div>
</div>

<!-- Delete Profile -->
<div class="row card-panel red lighten-3">
    <div class="container col s12 m4 offset-m4 center-align">
        <a href="#delete-profile-modal" class="btn-small delete-profile-button center-align modal-trigger" role="button" aria-label="Delete Profile">DELETE PROFILE!</a>
    </div>
</div>

<!-- Delete Profile Modal -->
<div id="delete-profile-modal" class="modal" aria-labelledby="delete-profile-title" aria-describedby="delete-profile-description">
    <div class="modal-content">
        <h4 id="delete-profile-title">Are you sure you want to delete your profile?</h4>
        <p id="delete-profile-description">This action cannot be undone!</p>
    </div>
    <div class="modal-footer">
        <form method="POST" action="{{ url_for('delete_profile') }}" aria-labelledby="delete-profile-title">
            <button type="submit" class="btn delete-button" aria-label="Confirm Delete Profile">Delete</button>
            <a href="#!" class="modal-close btn edit-button" aria-label="Cancel Delete Profile">Cancel</a>
        </form>
    </div>
</div>

{% endblock %}
