{% extends "base.html" %}
{% block content %}

<h3 class="white-text center-align">{{ main_category.main_category_name }}</h3>

{% if tools %}
<ul class="collection">
    {% for tool in tools %}
    <li class="collection-item">
        <a href="{{ url_for('tool', tool_id=tool.id) }}">
            <h5>{{ tool.tool_name }}</h5>
        </a>
            <p>Subcategory: 
                <a href="{{ url_for('selected_subcategory', subcategory_id=tool.sub_category_id) }}">
                    <strong>{{ tool.sub_category.sub_category_name }}</strong>
                </a>
            <p>
        <p><strong>Description:</strong> {{ tool.tool_description }}</p>
    </li>
    {% endfor %}
</ul>
{% else %}
<p class="white center-align">No tools found for this subcategory.</p>
{% endif %}

{% endblock %}